name: RefreshNodes

on:
  workflow_dispatch:
  schedule:
    - cron: '0 20 * * *'

jobs:
  refresh-v2-node:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      issues: write
      repository-projects: write
      contents: write
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip3 install requests
          pip3 install pycryptodome
          pip3 install pyyaml

      - name: Auto update
        run: python3 auto_update_yaml/script.py

      - name: Refresh best v2ray and accelerator nodes.
        run: |
          python3 RefreshV2Nodes.py -o "v2-node.txt" -u "https://raw.githubusercontent.com/mahdibland/ShadowsocksAggregator/master/Eternity"
          python3 RefreshV2Nodes.py -o "v2-node-air.txt" -u "https://raw.githubusercontent.com/mahdibland/ShadowsocksAggregator/master/EternityAir"

      - name: Download config from url and do some modifications.
        run: python3 GetClashConfig.py -o "clashConfig.ini"

      - name: Git auto commit
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: GitHub Action Refresh V2 Nodes
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Convert v2-node and v2-acc to Clash yaml.
        run: |
          python3 V2Nodes2Clash.py -u "https://raw.githubusercontent.com/mahdibland/ShadowsocksAggregator/master/Eternity" -o v2-node-clash.yaml
          python3 V2Nodes2Clash.py -u "https://raw.githubusercontent.com/mahdibland/ShadowsocksAggregator/master/EternityAir" -o v2-node-air-clash.yaml
          python3 V2Nodes2Clash.py -u "https://raw.githubusercontent.com/GuanmingLu/ScheduledTaskTest/main/v2-node-all.txt" -o v2-node-all-clash.yaml
          python3 V2Nodes2Clash.py -u "https://raw.githubusercontent.com/GuanmingLu/ScheduledTaskTest/main/v2-acc.txt" -o v2-acc-clash.yaml
          python3 V2Nodes2Clash.py -u "https://raw.githubusercontent.com/Pawdroid/Free-servers/main/sub" -o clash-free-server.yaml
          python3 V2Nodes2Clash.py -u "https://raw.githubusercontent.com/ermaozi/get_subscribe/main/subscribe/v2ray.txt" -o clash-get-sub.yaml

      - name: Git auto commit
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: GitHub Action Convert V2 To Clash
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
